<h1> Your card sets:</h1>
  <% if @card_array.any? %>
    <% @card_array.each do |card_set| %>
    <%# <p> %>
      <div class="cardsets">
        <%= link_to card_set.set_name, edit_card_set_path(card_set.id) %>
      </div>

      <%= link_to "Go to Flashcards", card_set_path(card_set.id), class:"card-btn"%>

    <%# </p> %>
    <% end %>
  <% else %>
    <p>You do not currently have any sets.</p>
  <% end %>
  <br>

<%= link_to "Create new card set", new_card_set_path %>

<footer class="footer">
  <p>©2021 Piano Pals</p>
    <p>
    <a href="https://github.com/mekinsie">Mekinsie Callahan</a> |
    <a href="https://github.com/MicahOlson">Micah Olson</a> |
    <a href="https://github.com/CrankyJones">Geof Rosenmund</a>
  </p>
</footer>