<span class="center-text"><h1> Your card sets:</h1></span>
  <% if @card_array.any? %>
    <% @card_array.each do |card_set| %>
      <span class="center-text"><h2><%= link_to card_set.set_name, edit_card_set_path(card_set.id) %></h2></span>
      <%= link_to "Go to Flashcards", card_set_path(card_set.id), class:"card-btn"%>
    <% end %>
  <% else %>
    <p>You do not currently have any sets.</p>
  <% end %>
  <br>

<%= link_to "Create new card set", new_card_set_path, class:"btn" %>

<footer class="footer">
  <p>©2021 Piano Pals</p>
    <p>
    <a href="https://github.com/mekinsie">Mekinsie Callahan</a> |
    <a href="https://github.com/MicahOlson">Micah Olson</a> |
    <a href="https://github.com/CrankyJones">Geof Rosenmund</a>
  </p>
</footer>