
<img src="/assets/logo.png" height="150" alt="logo" id="logo">
<div class="center-text">
<p>here are some really cool instructions on how to get started!</p>
</div>

<div class="options">
  <span class="btn">Setup Flashcards</span>
</div>
