<img src="/assets/logo.png" height="150" alt="logo" id="logo">
<div class="center-text">
<hr>
  <p>here are some really cool instructions on how to get started!</p>
  <br>
  <h2><strong>Something Cool or yeah</strong></h2>
  <p>kjsdhgdksjfhgdfksjg</p>
</div>

<div class="options">
  <span class="btn"><%= link_to "Setup Flashcards", "/setup" %></span>
</div>
