<img src="/assets/logo.png" height="150" alt="logo" id="logo">
<div class="center-text">
<hr>
  <p>Practice learning piano chords with our flashcard tool. You can customize your flashcard set to any chords you want.</p>
<%# 
  <p>To customize your flashcards, click "Setup Flashcards" to get started.</p> %>
  <%# <br>
  <h2><strong>Something Cool or yeah</strong></h2>
  <p>kjsdhgdksjfhgdfksjg</p> %>
</div>

<div class="options">
  <span class="btn"><%= link_to "Setup Flashcards", "/setup" %></span>
</div>


<h2 class="center-text" style="margin-top: 80px"><strong> P R E V I E W </strong></h2>
  <% randumber = rand(1..Keynote.all.length) %>
  <% keynote = Keynote.find(randumber.to_i) %>
      <div class="flip-card" style="margin-top: 0px">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <h1><%= "#{keynote.keynote} #{keynote.mode}" %></h1>
          </div>
          <div class="flip-card-back">
            <%= image_tag "/assets/#{keynote.mode.downcase}/#{keynote.image}" %>
            <%= audio_tag("/audios/#{keynote.mode.downcase}/#{keynote.audio}", controls: true)%>
          </div>
        </div>
      </div>  
<div id="home-footer" class="center-text">
  <p>©2021 Piano Pals</p>
  <p>
    <a href="https://github.com/mekinsie">Mekinsie Callahan</a> |
    <a href="https://github.com/MicahOlson">Micah Olson</a> |
    <a href="https://github.com/CrankyJones">Geof Rosenmund</a>
  </p>
</div>
