@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');

a {
  text-decoration: none;
  color:white;
  &:hover {
    color: grey;
    text-decoration: none;
  }
}

body {
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: 'Open Sans', sans-serif;
  margin-top: 50px;
  min-height: 100%;
}

.back-btn {
  background-color: rgb(24, 24, 24);
  padding: 15px;
  border-radius: 8px;
  &:hover {
    background-color: rgb(168, 168, 168);
    color: black;
  }
}
.push-btn {
  margin-top: 50px;
  margin-bottom: 80px;
}

.btn {
  background-color: rgb(48, 48, 48);
  color: rgb(230, 230, 230);
  font-family: 'Abril Fatface', cursive;
  border-radius: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 75px;
  width: 300px;
  font-size: 30px;
  &:hover {
    background-color: rgb(168, 168, 168);
  }
}

.card-btn {
  background-color: rgb(48, 48, 48);
  color: rgb(230, 230, 230);
  font-family: 'Open Sans', sans-serif;
  border-radius: 15px;
  width: 130px;
  font-size: 12px;
  padding: 8px;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  text-align: center;
  &:hover {
    background-color: rgb(168, 168, 168);
    color: black;
  }
}

.carousel-inner {
  margin-top: 50px;
}

.center-text {
  text-align: center;
}

.devise_button {
  color: black;
}

.flip-card {
  background-color: transparent;
  width: 600px;
  height: 400px;
  border-radius: 30px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner  {
  transform: rotateX(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  border-radius: 30px;
  background-color: rgb(24, 24, 24);
  color: rgb(233, 233, 233);
  padding-top: 160px;
}

.flip-card-back {
  border-radius: 30px;
  background-color: rgb(219, 219, 219);
  color: rgb(0, 0, 0);
  transform: rotateX(180deg);
  padding-top: 50px;
}

footer {
  background-color: black;
  color: rgb(153, 153, 153);
  position: fixed;
  padding-bottom: 13px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 65px;
  text-align: center;
  & a {
    color: rgb(153, 153, 153);
    &:hover{
      color:white;
    }
  }
}

.glyphicon {
  font-size: smaller;
  margin: 3px;
}

#home-footer {
  margin-top:100px;
  padding-bottom: 13px;
  color: rgb(153, 153, 153);
  & a {
    color: rgb(153, 153, 153);
    &:hover{
      color:white;
    }
  }
}

hr {
  border-top: 1px solid #cbcccc;
}

input{
  color: black;
}

input[type="checkbox"]{
  width: 20px;
  height: 20px;
}

label {
  margin-right: 20px;
  font-family: 'Abril Fatface', cursive;
  text-decoration: none;
  font-weight: lighter;
  font-size: 30px;
  color: rgb(236, 236, 236);
}

.letter {
  margin: 15px;
  font-family: 'Abril Fatface', cursive;
}

#logo {
  height: 100%;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.mode-heading {
  margin-top: 0px;
}

.ppals-nav {
  background-color: rgb(0, 0, 0);
  color: white;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: large;
    & a {
    color: white;
      &:hover {
        text-decoration: none;
        color: rgb(179, 179, 179);
      }
    }
  }

.ppals-nav-text {
  position: relative;
  top: 10px;
  text-align: center;
}

.row {
  margin-left: 100px;
}

.select-all {
  font-size: 25px;
  font-style: italic;
}
